@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;400&family=Roboto:ital,wght@0,100;1,100&family=Yanone+Kaffeesatz:wght@200;300;500;600&display=swap");

* {
  font-family: "BIZ UDGothic", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container {
  display: flex;
  flex-direction: center;
  justify-content: center;
  padding: 30px;
}
#canvas-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.particles {
}

.section {
  height: 500px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.section:hover {
}
